#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}

input {
  height: 30px;
}

button {
  padding-bottom: 15px;
  border: 1px solid;
}

.add-todo {
  margin: 20px 0;
}

.add-todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}

ul {
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.done-todos-todo {
  text-decoration: line-through;
  font-style: italic;
}

.done-todo-button {
  font-size: 1rem;
  padding: 3px 10px 5px;
  margin-bottom: 5px;
}